{% extends "layout.html" %}
{% block navigation_top %}
<div class="topnavtitle">Managing Application {{application.Name}}</div>
{%endblock%}
{% block body %}

<script>
    $(function () {
        $("#Type").val("{{application.Type}}");

        window.add_file = function () {
            jQuery.post("/application/{{application.Name}}/files", {});
            window.location = "";
        };

        window.edit_file = function (id) {
            $("#editfilemodal").modal("show");
            $.getJSON("/application/{{application.Name}}/files/" + id, function (data) {
                $("#filename").val(data["Command"]["Path"]);
                $("#filecontents").val(data["Command"]["Args"]);
                $("#fileid").val(data["Id"]);
            });
        };

        window.save_file = function () {
            jQuery.post("/application/{{application.Name}}/files/" + $("#fileid").val(), {
                "name": $("#filename").val(),
                "contents": $("#filecontents").val()
            });
            window.location = "";
        };

        window.delete_file = function (id) {
            jQuery.ajax({
                url: '/application/{{application.Name}}/files/' + id,
                type: 'DELETE'
            });
            window.location = "";
        };


        window.add_health_check = function () {
            jQuery.post("/application/{{application.Name}}/healthchecks", {});
            window.location = "";
        };

        window.edit_health_check = function (id) {
            $("#edithealthcheckmodal").modal("show");
            $.getJSON("/application/{{application.Name}}/healthchecks/" + id, function (data) {
                $("#healthcheckpath").val(data["Command"]["Path"]);
                $("#healthcheckargs").val(data["Command"]["Args"]);
                $("#healthcheckid").val(data["Id"]);
            });
        };

        window.save_health_check = function () {
            jQuery.post("/application/{{application.Name}}/healthchecks/" + $("#healthcheckid").val(), {
                "path": $("#healthcheckpath").val(),
                "args": $("#healthcheckargs").val()
            });
            window.location = "";
        };

        window.delete_health_check = function (id) {
            jQuery.ajax({
                url: '/application/{{application.Name}}/healthchecks/' + id,
                type: 'DELETE'
            });
            window.location = "";
        };


        window.add_install_command = function () {
            jQuery.post("/application/{{application.Name}}/installcommands", {});
            window.location = "";
        };

        window.edit_install_command = function (id) {
            $("#editinstallcommandmodal").modal("show");
            $.getJSON("/application/{{application.Name}}/installcommands/" + id, function (data) {
                $("#installcommandpath").val(data["Command"]["Path"]);
                $("#installcommandargs").val(data["Command"]["Args"]);
                $("#installcommandid").val(data["Id"]);
            });
        };

        window.save_install_command = function () {
            jQuery.post("/application/{{application.Name}}/installcommands/" + $("#installcommandid").val(), {
                "path": $("#installcommandpath").val(),
                "args": $("#installcommandargs").val()
            });
            window.location = "";
        };

        window.delete_install_command = function (id) {
            jQuery.ajax({
                url: '/application/{{application.Name}}/installcommands/' + id,
                type: 'DELETE'
            });
            window.location = "";
        };


        window.add_remove_command = function () {
            jQuery.post("/application/{{application.Name}}/removecommands", {});
            window.location = "";
        };

        window.edit_remove_command = function (id) {
            $("#editremovecommandmodal").modal("show");
            $.getJSON("/application/{{application.Name}}/removecommands/" + id, function (data) {
                $("#removecommandpath").val(data["Command"]["Path"]);
                $("#removecommandargs").val(data["Command"]["Args"]);
                $("#removecommandid").val(data["Id"]);
            });
        };

        window.save_remove_command = function () {
            jQuery.post("/application/{{application.Name}}/removecommands/" + $("#removecommandid").val(), {
                "path": $("#removecommandpath").val(),
                "args": $("#removecommandargs").val()
            });
            window.location = "";
        };

        window.delete_remove_command = function (id) {
            jQuery.ajax({
                url: '/application/{{application.Name}}/removecommands/' + id,
                type: 'DELETE'
            });
            window.location = "";
        };
    });
</script>

<div id="editfilemodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Host File</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" value="" name="fileid" id="fileid">
                <div class="form-group">
                    <label>Filename</label>
                    <input type="text" class="form-control" value="" name="filename" id="filename">
                </div>

                <div class="form-group">
                    <label>File Contents</label>
                    <textarea class="form-control" name="contents" id="filecontents"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="window.save_file();">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="edithealthcheckmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Health Check</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" value="" name="fileid" id="healthcheckid">
                <div class="form-group">
                    <label>Executable Path</label>
                    <input type="text" class="form-control" value="" name="filename" id="healthcheckpath">
                </div>

                <div class="form-group">
                    <label>Args</label>
                    <textarea class="form-control" name="contents" id="healthcheckargs"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="window.save_health_check();">Save changes
                </button>
            </div>
        </div>
    </div>
</div>


<div id="editinstallcommandmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Installation Command</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" value="" name="fileid" id="installcommandid">
                <div class="form-group">
                    <label>Executable Path</label>
                    <input type="text" class="form-control" value="" name="filename" id="installcommandpath">
                </div>

                <div class="form-group">
                    <label>Args</label>
                    <textarea class="form-control" name="contents" id="installcommandargs"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="window.save_install_command();">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<div id="editremovecommandmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Remove Command</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" value="" name="fileid" id="removecommandid">
                <div class="form-group">
                    <label>Executable Path</label>
                    <input type="text" class="form-control" value="" name="filename" id="removecommandpath">
                </div>

                <div class="form-group">
                    <label>Args</label>
                    <textarea class="form-control" name="contents" id="removecommandargs"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="window.save_remove_command();">Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<br>
<div class="subtitle">Scaling Configuration</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" disabled class="form-control" value="{{application.Name}}">
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control" name="Type" id="Type">
                    <option value="worker">Worker</option>
                    <option value="http">Http</option>
                </select>
            </div>
            <div class="form-group">
                <label>Min</label>
                <input type="text" class="form-control" value="{{application.Min}}" name="Min">
            </div>
            <div class="form-group">
                <label>Max</label>
                <input type="text" class="form-control" value="{{application.Max}}" name="Max">
            </div>
        <button type="submit" class="btn btn-default">Save Settings</button>
        </form>
    </div>
</div>

<div class="subtitle">Deployment Configuration</div>
<div class="panel panel-default">
    <div class="panel-body">

        <div class="form-group">
            <label>Health Checks</label>

            <ul class="list-group">
                {% for check in application.QueryStateCommand %}
                <li class="list-group-item">
                    <a onclick="window.edit_health_check('{{check.Id}}')">{%if check.Command.Path
                        %}{{check.Command.Path}} {{check.Command.Args}} {%else%}--{%endif%}</a>
                    <a class="pull-right" onclick="window.delete_health_check('{{check.Id}}')">Delete</a>

                </li>
                {% endfor %}
                <li class="list-group-item">
                    <a onclick="window.add_health_check()">Add Health Check</a>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <label>Installation Commands</label>

            <ul class="list-group">
                {% for file in application.InstallCommands %}
                <li class="list-group-item">
                    <a onclick="window.edit_install_command('{{file.Id}}')">{%if file.Command.Path
                        %}{{file.Command.Path}} {{file.Command.Args}} {%else%}--{%endif%}</a>
                    <a class="pull-right" onclick="window.delete_install_command('{{file.Id}}')">Delete</a>
                </li>
                {% endfor %}
                <li class="list-group-item">

                    <a onclick="window.add_install_command()">Add Installation Command</a>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <label>Remove Commands</label>

            <ul class="list-group">
                {% for file in application.RemoveCommand %}
                <li class="list-group-item">
                    <a onclick="window.edit_remove_command('{{file.Id}}')">{%if file.Command.Path
                        %}{{file.Command.Path}} {{file.Command.Args}} {%else%}--{%endif%}</a>
                    <a class="pull-right" onclick="window.delete_remove_command('{{file.Id}}')">Delete</a>
                </li>
                {% endfor %}
                <li class="list-group-item">

                    <a onclick="window.add_remove_command()">Add Remove Command</a>
                </li>
            </ul>
        </div>

        <div class="form-group" id="files_root">
            <label>Uploaded Host Files</label>

            <ul class="list-group">
                {% for file in application.InstallFiles %}
                <li class="list-group-item">
                    <a onclick="window.edit_file('{{file.Id}}')">{%if file.Command.Path %}
                        {{file.Command.Path}}{%else %}--{%endif%}</a>
                    <a class="pull-right" onclick="window.delete_file('{{file.Id}}')">Delete</a>
                </li>
                {% endfor %}
                <li class="list-group-item">
                    <a onclick="window.add_file()">Add File</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
