{
  "ApplicationConfigurations": {
    "nginix": {
      "Name": "nginix",
      "MinDeployment": 1,
      "DesiredDeployment": 1,
      "DisableSchedule": true,
      "DeploymentSchedule": {
        "Schedule": {
          "0": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "1": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "2": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "3": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "4": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "5": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          },
          "6": {
            "0": 0,
            "1020": 0,
            "1080": 0,
            "1140": 0,
            "120": 0,
            "1200": 0,
            "1260": 0,
            "1320": 0,
            "1380": 0,
            "180": 0,
            "240": 0,
            "300": 0,
            "360": 0,
            "420": 0,
            "480": 0,
            "540": 0,
            "60": 0,
            "600": 0,
            "660": 0,
            "720": 0,
            "780": 0,
            "840": 0,
            "900": 0,
            "960": 0
          }
        }
      },
      "ScheduleParts": [],
      "Config": {
        "17": {
          "Version": "17",
          "DockerConfig": {
            "Username": "<username>",
            "Password": "<password>",
            "Email": "<email>",
            "Server": "docker.io",
            "Tag": "latest",
            "Repository": "nginx",
            "Reference": ""
          },
          "Needs": {
            "MemoryNeeds": 0,
            "CpuNeeds": 0,
            "NetworkNeeds": 0
          },
          "LoadBalancer": [
            {
              "Domain": "nginix-http"
            }
          ],
          "Network": "https://www.googleapis.com/compute/v1/projects/linewize-test-region/global/networks/default",
          "SecurityGroups": [
            {
              "Group": "donald1"
            }
          ],
          "PortMappings": [
            {
              "HostPort": "8080",
              "ContainerPort": "80"
            }
          ],
          "VolumeMappings": null,
          "EnvironmentVariables": [],
          "DataQueue": null,
          "Files": [],
          "Checks": null,
          "GroupingTag": "",
          "AppliedPropertyGroups": {},
          "DeploymentFailures": 0,
          "DeploymentSuccess": 0,
          "InstanceType": ""
        },
      },
      "Enabled": true,
      "Publish": false,
      "PropertyGroups": null,
      "Depends": null
    }
  },
  "Properties": {},
  "GlobalSettings": {
    "ApiPort": 5001,
    "LoggingPort": 5002,
    "CloudProvider": "gcp",
    "AWSAccessKeyId": "",
    "AWSAccessKeySecret": "",
    "AWSRegion": "",
    "AWSBaseAmi": "",
    "AWSSSHKey": "",
    "AWSSSHKeyPath": "",
    "GcpProjectId": "test-region",
    "GcpCredentialsFile": "/config/gcp.json",
    "GcpZone": "us-central1-a",
    "GcpPemFile": "/config/id_rsa",
    "GcpPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuLrLy/pGYC0jYADKY5XgL5QkmUF7PArH6LHbmx7jy6tI2P8F1H5mexJWGxHYummv+64DEJPN2/grAnI4mKa1C50fb2jxzM42VVomB2QbcwYEJ18Ot6DmDK8VHUMjgwjA0MfcxycrdAGdeTLdHn9MqKAeYxUAoGqIflHLQkBYauU02P6NxRSFPuR4gBrYHBThwL4DTM+XUHt5qo/WvsgivshfCgltPyDRAvc+0bazbVyk0DblQmm6Qxe3ICbPFjDZM6prFqmm6acM1gnpzVKt16zZZtaIygvSdfkJNam2FBwTBTiEW56COM8Y09OTLJxaoU3TPtpv+SMW7RuZczOEqw== michael_lawson@michaellawson-notebook.local",
    "GcpUser": "michael_lawson",
    "GcpImageUrl": "https://www.googleapis.com/compute/v1/projects/linewize-test-region/global/images/orca-image-v1-1",
    "PlanningAlg": "boringplanner",
    "InstanceUsername": "michael_lawson",
    "Uri": "http://--:5001",
    "LoggingUri": "",
    "AWSSpotPrice": 0.3,
    "InstanceType": "https://www.googleapis.com/compute/v1/projects/linewize-test-region/zones/us-central1-a/machineTypes/n1-standard-1",
    "SpotInstanceType": "",
    "TrainerConfigBackupBucket": "",
    "LoggingDisabled": true,
    "CloudProviderCommands": [],
    "AppChangeTimeout": 600,
    "ServerChangeTimeout": 900,
    "ServerTimeout": 600,
    "HostChangeFailureLimit": 10,
    "ServerTTL": 1209600,
    "ServerCapacity": 10,
    "Users": {
      "admin": {
        "Password": "password"
      }
    },
    "HostToken": "",
    "ApiTokens": [
      {
        "Token": "apitoken"
      }
    ],
    "AuditWebhooks": [],
    "LoggingWebHooks": [],
    "AuditDatabaseUri": "http://127.0.0.1:27017",
    "StatsDatabaseUri": "localhost",
    "EnvName": "dev1",
    "PlanningDisabled": false
  }
}
